@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    
}



body{
    background:#e0e0e0;
    
}

.explain{
    font-family: 'Oswald', sans-serif;
    color: white;
    letter-spacing: 1px;
}

.about-title{
    font-weight: 200;
    font-size: 2rem;
    margin-top: 250px;
    margin-left: 800px;
}

.about-par{
    font-weight: 100;
    margin-left: 800px;
    max-width: 500px;
}

/* .all{
    position: absolute;
    top: 10%;
    left: 25%;
} */

/* .header img{
    position: absolute;
width: 550px;
height: 260px;
left: 0px;
top: 0px;

background: linear-gradient(246.26deg, #ED4683 0%, #F48E14 100%)
} */

.border{
    z-index: -1;
    position: absolute;
    width: 550px;
height: 500px;
left: 550px;
top: 150px;
border-radius: 50px;
background: #e0e0e0;
box-shadow:  50px 50px 100px #989898,
             -50px -50px 100px #ffffff;
}

.header{
    border: none;
    
    position: absolute;
width: 550px;
height: 260px;
left: 550px;
top: 100px;
border-top-left-radius: 50px;
border-top-right-radius: 50px;
background: linear-gradient(246.26deg, #ED4683 0%, #F48E14 100%);
}

.header h1{
    position: absolute;
width: 448.4px;
height: 38px;
left: 51px;
top: 53px;

font-family: Inter;
font-style: normal;
font-weight: 300;
font-size: 22px;
line-height: 38px;
/* identical to box height, or 173% */

text-align: center;
letter-spacing: -0.05em;

color: #FFFFFF;
}

#number-to-convert{
    position: absolute;
width: 211px;
height: 51.23px;
left: 169px;
top: 155px;

font-family: Inter;
font-style: normal;
font-weight: 800;
font-size: 50px;
line-height: 24px;
/* or 25% */

text-align: center;
background: none;
border-top: none;
border-left: none;
border-right: none;
border-bottom:solid #333 ;
color: #ffffff;
}

.length{
    position: absolute;
width: 346px;
height: 25px;
left: 102px;
top: 296px;

font-family: Inter;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */

text-align: center;

color: #FFFFFF;
}

.length-convert{
    position: absolute;
width: 346px;
height: 25px;
left: 102px;
top: 327px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
/* or 143% */

text-align: center;

color: #D2D2D2;
}

.convert{
    position: absolute;
width: 550px;
height: 550px;
left: 550px;
top: 100px;
z-index: -1;
border-radius: 50px;
background: #1F2937;
}

.volume{
    position: absolute;
width: 346px;
height: 25px;
left: 102px;
top: 379px;

font-family: Inter;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */

text-align: center;

color: #FFFFFF;
}

.volume-convert{
    position: absolute;
width: 346px;
height: 25px;
left: 102px;
top: 409px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
/* or 143% */

text-align: center;

color: #D2D2D2;
}

.mass{
    position: absolute;
width: 346px;
height: 25px;
left: 102px;
top: 461px;

font-family: Inter;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */

text-align: center;

color: #FFFFFF;
}

.mass-convert{
    position: absolute;
width: 346px;
height: 21px;
left: 102px;
top: 491px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
/* or 143% */

text-align: center;

color: #D2D2D2;
}

button{
    padding: 20px 40px;
    position: absolute;
    top: 230px;
    left: 215px;
    border: none;
    color: white;
    border-radius: 10px;
    font-family: 'Inter';
    background: linear-gradient(246.26deg, #172346 0%, #3D6BE6 100%);;
    cursor: pointer;
    transition: 0.5s;
}

button:hover{
    transform: scale(1.1);
}
