*{
    margin: 0;
    padding: 0;
    
}

body{
    background: rgb(0, 8, 29);
    
}

.all{
    position: absolute;
    top: 10%;
    left: 25%;
}

/* .header img{
    position: absolute;
width: 550px;
height: 260px;
left: 0px;
top: 0px;

background: linear-gradient(246.26deg, #ED4683 0%, #F48E14 100%)
} */

.header{
    position: absolute;
width: 550px;
height: 260px;
left: 89px;
top: 30px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
background: linear-gradient(246.26deg, #4651ed 0%, #0e102b 100%);
background: linear-gradient(246.26deg, #ED4683 0%, #F48E14 100%);
}

.header h1{
    position: absolute;
width: 448.4px;
height: 38px;
left: 51px;
top: 53px;

font-family: Inter;
font-style: normal;
font-weight: 300;
font-size: 22px;
line-height: 38px;
/* identical to box height, or 173% */

text-align: center;
letter-spacing: -0.05em;

color: #FFFFFF;
}

#number-to-convert{
    position: absolute;
width: 211px;
height: 51.23px;
left: 169px;
top: 155px;

font-family: Inter;
font-style: normal;
font-weight: 800;
font-size: 50px;
line-height: 24px;
/* or 25% */

text-align: center;
background: none;
border-top: none;
border-left: none;
border-right: none;
border-bottom:solid #333 ;
color: #ffffff;
}

.length{
    position: absolute;
width: 346px;
height: 25px;
left: 102px;
top: 296px;

font-family: Inter;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */

text-align: center;

color: #FFFFFF;
}

.length-convert{
    position: absolute;
width: 346px;
height: 25px;
left: 102px;
top: 327px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
/* or 143% */

text-align: center;

color: #D2D2D2;
}

.convert{
    position: absolute;
width: 550px;
height: 550px;
left: 89px;
top: 30px;
z-index: -1;
border-radius: 10px;
background: #1F2937;
}

.volume{
    position: absolute;
width: 346px;
height: 25px;
left: 102px;
top: 379px;

font-family: Inter;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */

text-align: center;

color: #FFFFFF;
}

.volume-convert{
    position: absolute;
width: 346px;
height: 25px;
left: 102px;
top: 409px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
/* or 143% */

text-align: center;

color: #D2D2D2;
}

.mass{
    position: absolute;
width: 346px;
height: 25px;
left: 102px;
top: 461px;

font-family: Inter;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */

text-align: center;

color: #FFFFFF;
}

.mass-convert{
    position: absolute;
width: 346px;
height: 21px;
left: 102px;
top: 491px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
/* or 143% */

text-align: center;

color: #D2D2D2;
}

button{
    padding: 20px 40px;
    position: absolute;
    top: 230px;
    left: 215px;
    border: none;
    color: white;
    border-radius: 10px;
    font-family: 'Inter';
    background: linear-gradient(246.26deg, #172346 0%, #3D6BE6 100%);;
    cursor: pointer;
    transition: 0.5s;
}

button:hover{
    transform: scale(1.1);
}